<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859982213837-3ls1mfokttq1uoj1j9qlifl2j69a2q2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859982213837-3ls1mfokttq1uoj1j9qlifl2j69a2q2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBpSNW0Oxs4Wuulfbxw9B6M_F2jQyAqEys</string>
	<key>GCM_SENDER_ID</key>
	<string>859982213837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.joviapp.jovicustomer</string>
	<key>PROJECT_ID</key>
	<string>jovi-live</string>
	<key>STORAGE_BUCKET</key>
	<string>jovi-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859982213837:ios:541576f254a238d42d6f84</string>
	<key>DATABASE_URL</key>
	<string>https://jovi-live.firebaseio.com</string>
</dict>
</plist>